body {
    background: rgb(26, 190, 127);
    font-size: 1.5rem;
    padding: 100px;
}

.joke {
    display: flex;
    flex-direction: column;
}

button {
    font-size: inherit;
    cursor: pointer;
    background: purple;
    color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

